.mz-sitenav {
    background: #495363;
}
.mz-sitenav .mz-sitenav-list>.mz-sitenav-item .mz-sitenav-item-inner>.mz-sitenav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}
.mz-sitenav .mz-sitenav-item .mz-sitenav-link.main-link:after {
    content: "";
    background: #fff;
    position: absolute;
    top: 13px;
    right: -5.5px;
    width: 1px;
    height: 22px;
}
.mz-sitenav .mz-sitenav-item:last-child .mz-sitenav-link.main-link:after {
    display: none;
}
